<div class="row">
<p>
<b>Isbn:</b>
<%= @book.isbn %>
</p>

<p>
<b>Title:</b>
<%= @book.title %>
</p>
<p>
<b>Author:</b>
<%= @book.author %>
</p> 
<p>
<b>Manufacturer:</b>
<%= @book.manufacturer %>
</p>
<b>Registered Date:</b>
<%= @book.created_at %>
</p>
<% if @book.image %>
	<%= image_tag @book.image.url, :class => "img-responsive" %>
<% end %>
</div>

<div class="row">
<h3>
<% if @user.id == current_user.id %>
<%= link_to '編集', edit_user_book_path(@user, @book) %> |
<%= link_to '削除', user_book_path(@user, @book), :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to '一覧', user_books_path %>
</h3>
</div>
